* {
  margin: 0;
  padding: 0;
}
body {
  width: 100vw;
  height: 100vh;
}
#title {
  height: 10%;
  text-align: center;
  align-content: center;
}
#contenedor1 {
  width: 100vw;
  height: 90%;
  justify-content: space-evenly;
  display: flex;
}

#contenedor1 li {
  list-style: none;
}
#contenedor1 a:hover {
  background-color: rgb(235, 235, 233);
  color: brown;
}
#contenedor1 a {
  color: white;
  padding: 1em;
  font-size: 1.2em;
  border: 2px solid white;
  text-decoration: none;
  border-radius: 5px;
}

#contenedorPrincipal {
  justify-content: center;
  align-content: center;
  background: linear-gradient(
    135.8deg,
    rgb(26, 26, 29) 27.1%,
    rgb(111, 34, 50) 77.5%
  );
  width: 100vw;
  height: 90vh;
}

/* Media queries */

/* Para pantallas pequeñas (móviles) */
@media (max-width: 600px) {
  #title {
    font-size: 1.5em;
  }

  #contenedor1 {
    flex-direction: column;
    align-items: center;
  }

  #contenedor1 li {
    margin: 1.5em;
  }

  #contenedor1 a {
    font-size: 1em;
    padding: 0.8em;
  }

  #contenedorPrincipal {
    height: 80vh;
  }
}

/* Para pantallas medianas (tabletas) */
@media (min-width: 601px) and (max-width: 1024px) {
  #title {
    font-size: 2em;
  }

  #contenedor1 {
    flex-direction: row;
    justify-content: space-around;
  }

  #contenedor1 a {
    font-size: 1.1em;
    padding: 0.9em;
  }

  #contenedorPrincipal {
    height: 85vh;
  }
}

/* Para pantallas grandes (escritorio) */
@media (min-width: 1025px) {
  #title {
    font-size: 2.5em;
  }

  #contenedor1 {
    justify-content: space-evenly;
  }

  #contenedor1 a {
    font-size: 1.2em;
    padding: 1em;
  }

  #contenedorPrincipal {
    height: 90vh;
  }
}
